*{
    margin: 0;
    padding: 0;

}

.full-width{
    width: 100%;
}

.container{
    width:1170px;
    margin: 0 auto;
}

ul,ol{
    list-style-type: none;

}

a{
    text-decoration: none;
}


/* all common css */