*{
    margin: 0;
    padding: 0;

}

.full-width{
    width: 100%;
}

.container{
    width:970px;
    margin: 0 auto;
}

ul,ol{
    list-style-type: none;

}

a{
    text-decoration: none;
}


/* all common css */

/* header part start */
#header{
    padding-top: 15px;
    padding-bottom: 15px;
}



.logo{
    float: left;
    width: 83px;
}

.header_text {
    
    float: left;
    width: 665px;
}

.header_text h3{
    padding-top: 30px;
    padding-left: 15px;
    font-size: 26px;
    color: #3ca2a2;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.phone_number{
    float: left;
    width: 222px;
}

.phone_number h3{
    padding-top: 30px;
    font-size: 30px;
    color: #c30911;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
/* header part end*/

/* menu part start */
#menu {
    
	margin-top: 90px;
	width: 100%;
	height: 50px;
	background: #c30911;
}


.menu_item ul li{
    padding-top: 15px;
    padding-bottom: 15px;
  
    display: inline-block;

}

.menu_item ul li:hover{
    transition: all linear 1s;
    background: #f18d26;
}
.menu_item ul li a{
    cursor: pointer;
   padding-right: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding-left: 15px;
    color: #ffffff;
}
/* menu part end */
/* banner part start  */
#banner{
    background: url(../images/bannerbg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.banner_section{
    display: flex;
    padding-top: 80px;
    
}

.banner_text h3{
    font-size: 36px;
    color: #215a6d;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.banner_text h2{
    font-size: 36px;
    color: #215a6d;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.banner_text p{
    padding-top: 30px;
    font-size: 16px;
    color: #215a6d;
    line-height: 22px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.banner_btn{
    padding: 15px 20px;
    border-radius: 25px;
    margin-top: 40px;
    background: #92c7a3;
    border: none;
   
}

.banner_btn a{
    color: #ffffff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    cursor: pointer;
}
/* banner part  end  */

/* card part start */
#card{
    padding-top: 50px;
    padding-bottom: 80px;
}

.card_item{
    margin-left: 50px;
    width: 270px;
    text-align: center;
}
.card_info{
    display: flex;
}

.card_item h3{
    font-size: 22px;
    color: #3ca2a2;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 25px;
}

.card_item p{
    font-size: 13px;
    color: #215a6d;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding-top: 15px;
    padding-bottom: 30px;
}

.card_item a{
    font-size: 14px;
    color: #92c7a3;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    
}

.card_icon {
    padding-right: 5px;
    color: #c30911;
}
/* card part end */

/* notice start  */
#notice{
    background: #dfece6;
    padding-top: 30px;
    padding-bottom: 30px;
}


.notice_item{
    display: flex;
}

.notice_board{
    width: 470px;
}


.notice_board h3{
    font-size: 29px;
    color: #215a6d;
    line-height: 52px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.notice_video{
    padding-left: 30px;
    width: 470px;
}

.notice_video h3{
    font-size: 29px;
    color: #215a6d;
    line-height: 52px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.line{
    padding-top: 15px;
    padding-bottom: 35px;
    display: flex;
}

.line_red{
    width: 70px;
    background: #ae1010;
    height: 2px;
}

.line_white{
    width: 400px;
    background: #ffffff;
    height: 2px;
}

.news{
    display: flex;
    border-bottom: 1px solid #55b9c8;
}

.news_item{
 width: 430px;
 background-color: #ffffff;
 height: 40px;
 text-align: center;
}
.news_item h3{

    padding-left: 10px;
    font-size: 16px;
    color: #3ca2a2;
    font-family: 'Roboto', sans-serif;
}

.news_icon{
 width: 55px;
 background-color: red;
 height: 40px;
 text-align: center;
}

.news_icon i{
    padding-top: 10px;
    color: #ffffff;
    font-size: 16px;
}

.notice_video_content{
    background: #dfece6;
    padding: 10px 10px 10px 10px;
}

.icon{
    margin-top: 20px;
}
/* notice end */

/* event start */
#event{
    padding-top: 60px;
    padding-bottom: 60px;
}

.event_item{
    display: flex;
}
.news_event{
    width: 300px;
}

.news_event h3{
    font-size: 29px;
    font-weight: 400;
   
    color: #215a6d;
    font-family: 'Roboto', sans-serif;
}

.news_event h4{
    padding-bottom: 10px;
    font-size: 18px;
    color: #3ca2a2;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.news_event p{
    padding-bottom: 60px;
    font-size: 13px;
    color: #215a6d;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}




.medical_service{
    padding-left: 30px;
    width: 300px;
}

.medical_service h3{
    font-size: 29px;
    font-weight: 400;
   
    color: #215a6d;
    font-family: 'Roboto', sans-serif;
}

.medical_service h4{
    font-size: 13px;
    color: #215a6d;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.medical_icon i{
    color: #bf0a11;
    padding-right: 5px;
    padding-bottom: 15px;
}

.photo_gal{
    padding-left: 30px;
    width: 300px;
}
.photo_gal h3{
    font-size: 29px;
    font-weight: 400;
   
    color: #215a6d;
    font-family: 'Roboto', sans-serif;
}

.line_white_event{
    width: 250px;
    height: 2px;
    background: #9c9b9bce;
}

.ph_gal{
    display: flex;
}

.ph_gal_item_1{
    width: 140px;
}
.ph_gal_item_2{
    padding-left: 20px;
  width: 140px;
}
/* event end */

/* our doctor start */
.line_white_event_doctor{
    width: 900px;
     background: #9c9b9bce;
}

.our_doctor{
    display: flex;
    padding-top: 30px;
    padding-bottom: 100px;
}

.doctor_text h2{
    font-size: 29px;
    font-weight: 700;
    color: #215a6d;
    font-family: 'Roboto', sans-serif;
}


.doctor_item{

    width: 300px;
}

.doctor_item h2{
    padding-top: 20px;
    font-size: 18px;
    font-weight: 400;
    color: #3ca2a2;
    font-family: 'Roboto', sans-serif;
}

.doctor_item h4{
    padding-top: 10px;
    font-size: 12px;
    font-weight: 400;
    color: #878787;
    font-family: 'Roboto', sans-serif;
}

.doctor_item p{
    padding-top: 15px;
    font-size: 12px;
    font-weight: 400;
    color: #cf0511;
    font-family: 'Roboto', sans-serif;
}

/* item two */
.doctor_item2{
    padding-left: 35px;
    width: 300px;
}

.doctor_item2 h2{
    padding-top: 20px;
    font-size: 18px;
    font-weight: 400;
    color: #3ca2a2;
    font-family: 'Roboto', sans-serif;
}

.doctor_item2 h4{
    padding-top: 10px;
    font-size: 12px;
    font-weight: 400;
    color: #878787;
    font-family: 'Roboto', sans-serif;
}

.doctor_item2 p{
    padding-top: 15px;
    font-size: 12px;
    font-weight: 400;
    color: #cf0511;
    font-family: 'Roboto', sans-serif;
}

/* item three */
.doctor_item3{
    padding-left: 35px;
    width: 300px;
}

.doctor_item3 h2{
    padding-top: 20px;
    font-size: 18px;
    font-weight: 400;
    color: #3ca2a2;
    font-family: 'Roboto', sans-serif;
}

.doctor_item3 h4{
    padding-top: 10px;
    font-size: 12px;
    font-weight: 400;
    color: #878787;
    font-family: 'Roboto', sans-serif;
}

.doctor_item3 p{
    padding-top: 15px;
    font-size: 12px;
    font-weight: 400;
    color: #cf0511;
    font-family: 'Roboto', sans-serif;
}
/* our doctor end */